@model string
@{
    Layout = "~/Views/Shared/_Root.cshtml";}

@using Nop.Web.Framework;

@{
    
    
        <div>
            <br/>
            <h1>نتیجه بازگشت از درگاه پرداخت اینترنتی</h1>
            <hr/>
            <div style="text-align: center;">
                <p>@Model</p>
                

            </div>
            <hr/>
           
        </div>
}

